@import "mixins";

nav > ul {
    margin: 0;
    @include list-unstyled;
}
#similars,
#block-similarevents h2 {
    display: none;
}

#open-lightbox {
    border: 0 none transparent;
    padding: 1.25rem 2rem;
    border-radius: 8px;
    color: #e0e1dd;
    background-color: #003248;
    &:hover {
        cursor: pointer;
        background-color: #000011;
    }
}